/** === Tag Cloud === */

.wp-block-tag-cloud {

    .tag-cloud-link {
        @include button-transition;
        border: none;
        font-size: $font__size-sm;
        @include font-family( $font__heading );
        line-height: $font__line-height-heading;
        box-sizing: border-box;
        font-weight: bold;
        text-decoration: none;
        padding: ($size__spacing-unit * .76) $size__spacing-unit;
        outline: none;
        outline: none;

        &:not(.has-background) {
            background-color: $color__background-button;
        }

        &:not(.has-text-color) {
            color: white;
        }

        &:hover {
            color: white;
            background: $color__background-button-hover;
            cursor: pointer;
        }

        &:focus {
            color: white;
            background: $color__background-button-hover;
            outline: thin dotted;
            outline-offset: -4px;
        }
    }

    &:not(.is-style-squared) .tag-cloud-link {
        border-radius: 30px;
    }

    &.is-style-outline .tag-cloud-link,
    &.is-style-outline .tag-cloud-link:focus,
    &.is-style-outline .tag-cloud-link:active {
        @include button-all-transition;
        border-width: 2px;
        border-style: solid;

        &:not(.has-background) {
            background: transparent;
        }

        &:not(.has-text-color) {
            color: $color__background-button;
            border-color: currentColor;
        }
    }

    &.is-style-outline .tag-cloud-link:hover {
        color: white;
        border-color: $color__background-button-hover;
        &:not(.has-background) {
            color: $color__background-button-hover;
        }
    }
}
