{% extends "base.twig" %}

{% block header %}
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content entry">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body entry-content">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}